---
layout: workshop
root: .
venue: University of Washington - Seattle
address: WRF Data Science Studio, Physics/Astronomy Tower (6th Floor), University of Washington, Seattle, WA
country: United-States
language: en
latlng: 47.653371,-122.3118098
humandate: Jan 7-8, 2016
humantime: 9:00 am - 4:30 pm
startdate: 2016-01-07
enddate: 2016-01-08
trainer: ["Ariel Rokem", "XXX"]
# helper: FIXME     # list of names like above
contact: arokem@gmail.com
etherpad: http://pad.software-carpentry.org/carpentry-instructor-training-2016-03-09-uw
---
{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="248px"
  scrolling="auto">
</iframe>
{% endif %}

<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  and <a href="{{site.dc_site}}">Data Carpentry</a>'s mission is to
  help scientists and engineers get more research done in less time
  and with less pain by teaching them basic lab skills for scientific
  computing.  This hands-on two-day workshop covers the basics of
  educational psychology and instructional design, and looks at how to
  use these ideas in both intensive workshops and regular classes. The
  workshop is a mix of lectures and hands-on lessons where you practice
  giving a short lesson using approaches learned and implement some of
  the teaching techniques which we will discuss.  This is training for
  teaching, not technical training; you do not need any particular
  technical background, and we will not be teaching that. This workshop
  is based on the constantly revised and updated
 <a href="{{site.swc_githubio}}/instructor-training/">curriculum</a>.
</p>

<p>
  <strong>Who:</strong> The course is aimed at everyone who is
  interested in becoming a better teacher. In particular, this training
  is aimed at those who want to become Software and Data Carpentry
  instructors, run workshops and contribute to the Carpentry training
  materials.  You don't currently have to be an instructor or a
  teacher to attend this workshop, but you do need to be willing and
  committed to becoming one and to improving your teaching techniques.
</p>

{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<p>
  <strong>Requirements:</strong> Participants should bring a laptop
  that is Internet connected and has a functioning browser.  If you
  have it, a device for recording audio and video (mobile phones and
  laptops are OK) is useful as throughout the two days, we are going to record
  one another teaching in pairs or threes.  It does not have to be
  high-quality, but it should be good enough that you can understand
  what someone is saying.
</p>
<p>
  Please also read the
  <a href="#preparation">Preparation</a> section below.  You will also
  receive some further information before the workshop so please check
  your email.
</p>
<p>
  All participants are also required to abide by
  Software Carpentry's <a href="{{site.swc_site}}/conduct.html">Code of Conduct</a>.
</p>

<p>
  <strong>Contact</strong>:
  Please email
  {% if page.contact %}
    <a href="mailto:{{page.contact}}">{{page.contact}}</a>
  {% else %}
    <a href="mailto:{{site.contact}}">{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<h2>Schedule</h2>

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>Welcome and introductions</td></tr>
      <tr> <td>09:30</td> <td>Overview: key concepts and training goals</td></tr>
      <tr> <td>10:00</td> <td>Formative vs. summative assessment</td></tr>
      <tr> <td>10:30</td> <td>Coffee break</td></tr>
      <tr> <td>11:00</td> <td>Teaching as performance art</td> </tr>
      <tr> <td>12:00</td> <td>Lunch break</td></tr>
      <tr> <td>13:00</td> <td>Discussion on the exercise on teaching as performance art</td> </tr>
      <tr> <td>14:00</td> <td>Concept maps</td> </tr>
      <tr> <td>14:30</td> <td>Coffee break</td> </tr>
      <tr> <td>15:00</td> <td>Concept maps - continued</td> </tr>
      <tr> <td>16:00</td> <td>Motivation and demotivation. Diversity. Indifference.</td> </tr>
      <tr> <td>16:45</td> <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td> <td>Close</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>Recap and homework review<br></td> </tr>
      <tr> <td>09:30</td> <td>Alternative formative assessment techniques</td> </tr>
      <tr> <td>10:30</td> <td>Coffee break</td> </tr>
      <tr> <td>11:00</td> <td>Live coding and active learning</td> </tr>
      <tr> <td>12:00</td> <td>Lunch break</td> </tr>
      <tr> <td>13:00</td> <td>Overview of Software and Data Carpentry infrastructure</td> </tr>
      <tr> <td>13:30</td> <td>Setting up and running a workshop</td> </tr>
      <tr> <td>14:30</td> <td>Coffee break</td> </tr>
      <tr> <td>15:00</td> <td>Overview of existing materials; how to contribute</td> </tr>
      <tr> <td>16:00</td> <td>Next steps</td> </tr>
      <tr> <td>16:45</td> <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td> <td>Close</td> </tr>
    </table>
  </div>
</div>

{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<h2>Syllabus</h2>

<ul>
  <li><a href="{{site.swc_githubio}}instructor-training/01-models.html">Mental Models</a></li>
  <li><a href="{{site.swc_githubio}}instructor-training/02-cognition.html">Cognitive Development</a></li>
  <li><a href="{{site.swc_githubio}}instructor-training/03-design.html">Lesson Design</a></li>
  <li><a href="{{site.swc_githubio}}instructor-training/04-performance.html">Teaching as a Performance Art</a></li>
  <li><a href="{{site.swc_githubio}}instructor-training/05-motivation.html">Motivation and Demotivation</a></li>
</ul>

<hr/>

<h2 id="preparation" name="preparation">Preparation</h2>
<ol>
    <li>
      Please read
      Porter et al's
      <a href="{{site.swc_files}}/training-course/2013/08/p34-porter.pdf">"Success
      in Introductory Programming: What Works?"</a>, which is a good
      recent summary of results specific to teaching programming, and
      Mark Guzdial's
      <a href="http://cacm.acm.org/blogs/blog-cacm/189498-top-10-myths-about-teaching-computer-science/fulltext">"Top 10 Myths About Teaching Computer Science"</a>,
      which is a nice overview of things that <em>are not</em> true, but are widely believed.
    </li>
    <li>
      Please also pick up a copy of
      <a href="http://www.amazon.com/How-Learning-Works-Research-Based-Jossey-Bass/dp/0470484101/">"How
      Learning Works"</a>, which is currently the best summary of research
      in education. It is full of useful insights, and a lot of how we
      teach is based on the findings it reports.
    </li>
    <li>
      Finally, please go
      to <a href="{{site.swc_site}}/lessons.html">Software Carpentry's
      lessons page</a> and <a href="{{site.dc_site}}/lessons/">Data Carpentry's lessons page</a>
      to see what is currently taught by each.
    </li>
</ol>
<p>
  If you are interested in doing more
  reading, <a href="http://www.amazon.com/Teaching-What-You-Dont-Know/dp/0674066170">Huston's
    "Teaching What You Don't Know"</a> is a lot of fun - many will
  recognize themselves in these stories. Past participants have
  also enjoyed
  <a href="http://www.amazon.com/Building-Better-Teacher-Teaching-Everyone/dp/0393081591">"Building
    a Better Teacher"</a>, which is a well-written look at why
  educational reforms in the past 50 years have mostly failed, and
  covers what we should be doing instead.
</p>
